<div class="page5">
	<ul>
		<h1>不喜欢吃的食物</h1>
		<li><label><input type="checkbox">胡萝卜</label></li>
		<li><label><input type="checkbox">白菜</label></li>
		<li><label><input type="checkbox">黄瓜</label></li>
		<li><label><input type="checkbox">豆角</label></li>
		<li><label><input type="checkbox">茄子</label></li>
		<li><label><input type="checkbox">生菜</label></li>
		<li><label><input type="checkbox">茼蒿</label></li>
		<li><label><input type="checkbox">洋葱</label></li>
		<li><label><input type="checkbox">洋葱</label></li>
		<li><label><input type="checkbox">洋葱</label></li>
		<li><label><input type="checkbox">洋葱</label></li>
		<li><label><input type="checkbox">洋葱</label></li>
	</ul>
	<a ui-sref="home.item" id="beign_btn" class="next"></a>
</div>
